<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="http://localhost/es1/">6
    <link rel="stylesheet" type="text/css" href="app/Resources/css/style.css">
    <title>Document</title>
</head>

<body>
    <div style="display:flex; flex-direction:column; text-align:center; justify-content:center;align-content: center;">
        <h1 style="color:#1094AB">404 Página não encontrada</h1>
        <h2 style="color:#1094AB">Pedimos desculpas, mas o endereço procurado não foi encontrado</h2>
    </div>
</body>

</html>