<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{URL}}
    <link rel="stylesheet" type="text/css" href="app/Resources/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="app/Resources/images/eachLogo.png"/>
    <title>{{title}}</title>
    
</head>

<body>
    <main>
        <div class="flex-container">
            <div class="container-bg"><img src="app/Resources/images/uspLogo.png" alt="USP"></div>
            {{content}}
        </div>
    </main>
</body>

</html>