<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{URL}}
    <link rel="stylesheet" type="text/css" href="app/Resources/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="app/Resources/images/eachLogo.png"/>
    <script src="https://kit.fontawesome.com/0476c40118.js" crossorigin="anonymous"></script>
    <title>{{title}}</title>
    
</head>

<body>
    <header class="header">
        <div class="image-container">
            <img src="app/Resources/images/eachLogo.png" alt="EACH USP">
            <!-- <p>Sistema de Avaliação de Desempenho dos Alunos do PPgSI</p> -->
        </div>
        <div class="username">
            <p>{{userType}} - {{userName}}</p>
            <a {{logout}} ><i class="far fa-times-circle"></i></a>
        </div>
    </header>

    <section style="display: flex;">
        {{menu}}

    </section>

</body>

</html>