<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{URL}}
    <link rel="stylesheet" type="text/css" href="app/Resources/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="app/Resources/images/eachLogo.png"/>
    <title>{{title}}</title>
</head>

<body>
    <div style="margin-top: 20px; display:flex; flex-direction:column; text-align:center; justify-content:center;align-items: center;">
        <img src="app/Resources/images/404_error.svg" alt="EACH USP" style="width: 500px; height: 400px;">
        <h1 style="color:#1094AB">404 - Página não encontrada</h1>
        <h2 style="margin-top: 20px; color:#1094AB; ">Pedimos desculpas, mas o endereço procurado não foi encontrado</h2>
    </div>
</body>

</html>