<!DOCTYPE html>

<div class="main-container">
    <h1>Envio de Relatório</h1>
    <div class="relatorio-container">
        <form action="">
            <div class="file-container">
                <div>
                    <h3>Período de Entrega: </h3>
                    <p></p>
                </div>
                <label id="file-name" class="label-file" for="upload-pdf"><i class="fas fa-plus"
                        style='margin-right:0.4rem;margin-top: 0.1rem;'></i> Adicionar Relatório</label>
                <input type="file" name="pdf" id="upload-pdf" accept="application/pdf" />
            </div>
            <div class="comentario-enviar">
                <textarea id="comentario" name="comentario" placeholder="Comentário..." rows="8" cols="50"
                    required></textarea>
            </div>
            <div class="buttons-enviar">
                <button class="btn btn-bg" name="send_button" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript" src="app/Resources/js/scriptOrientando.js"></script>