<!DOCTYPE html>
<div class="main-container">
    <h1>Gerenciar Período</h1>

    <div class="periodo-container">
        <div>
            <div class="date-container">
                <h3>Data de Início: </h3>
                <p class="date-p">
                    {{dateStart}}
                </p>
            </div>
            <div class="date-container">
                <h3>Data de Término: </h3>
                <p class="date-p">
                    {{dateEnd}}
                </p>
            </div>
        </div>

        <div class="button-periodo">
            <form class="date-form" action="./ccp/updatePeriod" method="POST">
                <button class="btn btn-bg" name="close_button" type="submit" value="true">Fechar Período</button>
            </form> 
        </div>
    </div>
</div>