<!DOCTYPE html>
<div class="main-container">
    <h1>Gerenciar Período</h1>

    <div class="periodo-container">
        <div>
            <div class="date-container">
                <h3>Data de Início: </h3>
                <p class="date-p">
                    25/09/2021
                </p>
            </div>
            <div class="date-container">
                <h3>Data de Término: </h3>
                <p class="date-p">
                    26/09/2021
                </p>
            </div>
        </div>

        <div class="button-periodo">
            <button class="btn btn-bg" name="send_button" type="submit">Fechar Período</button>
        </div>
    </div>
</div>