<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="http://localhost/es1/">
    <script src="https://kit.fontawesome.com/0476c40118.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="app/Resources/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="image-container">
            <img src="app/Resources/images/eachLogo.png" alt="EACH USP">
            <p>Sistema de Avaliação de Desempenho dos Alunos do PPgSI</p>
        </div>
        <div class="username">
            <p>{{userType}} - {{userName}}</p>
            <a {{logout}} class="logout-button" ><i class="far fa-times-circle"></i></a>
        </div>
    </header>

    <section style="display: flex;">
        <aside class="sidebar">
            <ul class="list-anchor">
                <li><a href="">Gerenciar Relatório</a></li>
                <li><a href="">Histórico de Relatórios</a></li>
            </ul>
        </aside>
        <div class="main-container">
            <h1>Gerenciar Relatório</h1>
            <div class="relatorio-container">
                <form action="">
                    <div>
                        <h3>Período de Entrega: </h3>
                        <p></p>
                    </div>
                    <div class="file-container">
                        <label id="file-name" class="label-file" for="upload-pdf"><i class="fas fa-plus" style='margin-right:0.4rem;margin-top: 0.1rem;'></i> Adicionar Relatório</label>
                        <input type="file" name="pdf" id="upload-pdf" accept="application/pdf" />
                    </div>
                </form>
            </div>
        </div>
    </section>


    <script type="text/javascript" src="app/Resources/js/scriptOrientando.js"></script>
</body>

</html>