<!DOCTYPE html>

        <div class="main-container">
            <h1>Histórico de Relatórios</h1>
            <div class="historico-relatorios">
                <ul>
                    <li>
                        <p class="modalbutton">
                            relatório de fulano
                        </p>
                    </li>
                    <li>
                        <p class="modalbutton">
                            relatório de fulano
                        </p>
                    </li>
                </ul>
            </div>
        </div>
   

    <div id="myModal" class="modal">

        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="file">
                <a href=""><i class="fas fa-paperclip"></i></a>
                <p>relatório de fulano</p>
            </div>
            <div class="comentario-aluno">
                <h3>Comentário do Aluno: </h3>
                <p>
                    cuscuz é ruim
                </p>
            </div>
            <div style="color:#1094AB;margin-top: 2rem;">
                <p><h2 style="font-size: 1rem;">Nota Atribuida: </h2> </p>
                <p style="font-size: 0.8rem;margin-top: 2rem;"><strong>Comentário: </strong></p>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="app/Resources/js/script.js"></script>
