<!DOCTYPE html>

        {{reports}}
   

        <div id="myModal" class="modal">

            <div class="modal-content">
                <span class="close">&times;</span>
                <h1>Histórico</h1>
                <div class="file">
                    <a href=""><i class="fas fa-paperclip"></i></a>
                    <p>relatório de fulano</p>
                </div>
                <div class="comentario-aluno">
                    <h3>Comentário do Aluno: </h3>
                    <p>
                        
                    </p>
                </div>
                <div class="comentario-orientador nota">
                    <h3>Parecer do orientador: </h3>
                    <p>
                        
                    </p>
                </div>
                <div class="comentario-orientador comment-prof">
                    <h3>Comentário do orientador: </h3>
                    <div class="comentario-container">
                        <p>
                            
                        </p>
                    </div>
                </div>
                <div class="comentario-ccp nota" >
                    <h3>Parecer CCP: </h3>
                    <p>
                        
                    </p>
                </div>
                <div class="comentario-ccp comment-prof">
                    <h3>Comentário CCP: </h3>
                    <div class="comentario-container">
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
    
        </div>

    <script type="text/javascript" src="app/Resources/js/scriptHistOrientador.js"></script>
