< <div class="form-container">
    <h1>Fazer Login</h1>
    <form action="" method="post">
        <div>
            <label for="email">Email Institucional:</label>
            <input type="email" name="email" id="">
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" name="password" id="">
        </div>
        <div style="display:flex;flex-direction:row;gap:0.8rem; margin-top:2rem; justify-content:space-between;">
            <p>Não está cadastrado? <a href="./cadastro">Cadastre-se</a></p>
            <button class="btn btn-bg" type="submit">Entrar</button>
        </div>
    </form>
    </div>