<!DOCTYPE html>

<div class="form-container">
    {{error}}
    <h1>Fazer Login</h1>
    <form action="login/autentication" method="post">
        <div>
            <label for="email">Email Institucional:</label>
            <input type="email" name="email" id="" required>
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" name="password" id="" required>
        </div>
        <div style="display:flex;flex-direction:row;gap:0.8rem; margin-top:2rem; justify-content:space-between;">
            <div
                style="display: flex;flex-direction: row; width: 10rem;margin-left: 1rem; justify-content:flex-end;align-items: center;">
                <a href="./"><i class="fas fa-arrow-circle-left"></i></a>
                <a style="margin-left:0.4rem;" href="./">Voltar ao Início</a>
            </div>
            <button class="btn btn-bg" type="submit">Entrar</button>
        </div>
    </form>

</div>