<!DOCTYPE html>

            {{reports}}
           

<div id="myModal" class="modal">

    <div class="modal-content modal-ccp">
        <span class="close">&times;</span>
        <h1>Avaliar Relatório</h1>
        <br>
        <div class="file">
            <a href="" target="_blank">
                <i class="fas fa-paperclip"></i>
                <p></p>
            </a>
        </div>
        <div class="comentario-aluno">
            <h3>Comentário do Aluno: </h3>
            <p>
                
            </p>
        </div>
        <div class="orientador-label">
            <h3>Orientador do Aluno: </h3>
            <p></p>
        </div>
        <div class="comentario-orientador nota">
            <h3>Parecer do Orientador: </h3>
            <p>
                
            </p>
        </div>
        <div class="comentario-orientador comment-prof">
            <h3>Comentário do Orientador: </h3>
            <div class="comentario-container">
                <p>
                    
                </p>
            </div>
        </div>
        <br>
        <form id="modal-form" class="modal-form" action="./ccp/updateReport" method="post">
            <input type="text" name="id_aval"  id="id_aval" style="display: none;">
            <div>
                <label for="select">Parecer:</label>
                <select id="select_nota" name="select">
                    <option value="0" selected disabled required>SELECIONE UM PARECER:</option>
                    <option value="1">ADEQUADO</option>
                    <option value="2">ADEQUADO COM RESSALVAS</option>
                    <option value="3">INSATISFATÓRIO</option>
                </select>
            </div>
            <textarea id="comentario" name="comentario" placeholder="Comentário..." rows="8" cols="50" required></textarea>
            <div class="modal-buttons">
                <button class="btn btn-bg" name="save_button" type="submit">Salvar</button>
                <button class="btn btn-bg" name="send_button" type="submit">Enviar</button>
            </div>
        </form>
    </div>

</div>

<script type="text/javascript" src="app/Resources/js/scriptCCP.js"></script> 

