<!DOCTYPE html>

<div class="main-container">
    <h1>Relatórios Pendentes</h1>
    <div class="relatorios-pendentes">
        <ul>
            <li>
                <p class="modalbutton unread">
                    relatório de fulano
                </p>
                <i class="fas fa-envelope"></i>
            </li>
            <li>
                <p class="modalbutton">
                    relatório de fulano
                </p>
                <i class="fas fa-envelope-open"></i>
            </li>
        </ul>
    </div>
</div>


<div id="myModal" class="modal">

    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="file">
            <a href=""><i class="fas fa-paperclip"></i></a>
            <p>relatório de fulano</p>
        </div>
        <div class="comentario-aluno">
            <h3>Comentário do Aluno: </h3>
            <p>
                cuscuz é ruim
            </p>
        </div>
        <form class="modal-form" action="" method="post">
            <div>
                <label for="select">Atribuir Nota:</label>
                <select name="select">
                    <option value="null" selected></option>
                    <option value="1">ADEQUADO</option>
                    <option value="2">ADEQUADO COM RESSALVAS</option>
                    <option value="3">INSATISFATÓRIO</option>
                </select>
            </div>
            <textarea name="comentario" placeholder="Comentário..." rows="10" cols="50"></textarea>
            <button class="btn btn-bg" type="submit">Confirmar</button>
        </form>
    </div>

</div>

<script type="text/javascript" src="app/Resources/js/script.js"></script>