@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --bg: #1094AB;
    --secondary-bg: #fff;

}

a {
    color: var(--bg);
}

.unread{
    background-color:  #e9f9fb;
}

.unread > p{
    font-weight: 700 !important;
    color: #1094AB;
}

.read > p{
    font-weight: lighter !important;
    color: rgb(73, 72, 72);
}


.date{
    margin-left: auto;
}


.error{
    margin: 0 auto;
    padding-top: 5px;
    width: 80%;
    height: 35px;
    text-align: center;
    background-color: var(--bg);
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
}

.flex-container {
    display: flex;
    height: 100vh;
    width: 100%;
}


.container-bg {
    background-color: var(--bg);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-bg img {
    width: 60%;
    margin: 0 auto;
    filter: invert(100%);
}

.content-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

.content-container img {
    width: 20%;
}

.content-container h1 {
    color: var(--bg);
    font-size: 2rem;
}

.btn {
    transition: 0.4s ease-in-out;
    cursor: pointer;
    padding: 0.7rem 6.7rem;
    border-radius: 0.5rem;
    color: var(--bg);
    font-weight: 700;
    font-size: 0.9rem;
    background-color: var(--secondary-bg);
    border: 2px solid var(--bg);
}

.btn-bg {
    padding: 0.7rem 4.75rem;
    background-color: var(--bg);
    color: var(--secondary-bg);
}

.btn:hover {
    background-color: var(--bg);
    color: var(--secondary-bg);
}

.btn-bg:hover {
    color: var(--bg);
    background-color: var(--secondary-bg);
}

.form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2.5rem;
}

.form-container h1 {
    text-align: center;
    color: var(--bg);
    font-size: 2rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    text-align: right;
    gap: 0.8rem;
    color: var(--bg);
    font-weight: 700;
}

.form-container form input:not(input[type = checkbox]), #select-orientador {
    padding: 0.5rem;
    width: 20rem;
    border-radius: 0.25rem;
    border: 2px solid var(--bg);
}

ul.list-anchor {
    list-style: none;
}

.header {
    min-height: 10vh;
    background: var(--bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .image-container{
    display: flex;
    color: var(--secondary-bg);
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.header .image-container img {
    height: 4rem;
    margin: 0.5rem 1rem;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

.sidebar {
    text-align: center;
    min-height: 90vh;
    width: 15%;
    border-right: 2px solid var(--bg);
    border-top: 1px solid white;
}

.list-anchor li {
    height: 2.5rem;
    font-size: 0.9rem;
}

.list-anchor li a {
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 0.6rem;
    text-decoration: none;

    background: linear-gradient(to left, white 50%, var(--bg) 50%);
    background-size: 200% 100%;
    background-position:right;    
}

.list-anchor li a:hover {
   background-position:left;   
   transition:all 0.8s ease; 
   color: white;
   
}

.list-anchor li {
    border-bottom: 1px solid var(--bg);
}

.username {
    display: flex;
    align-items: center;
}

.username p,
.username i {
    color: #FFF;
    margin: 0.6rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.logout-button{
    z-index: 2 !important;
}
.main-container {
    margin: 2rem auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}

.main-container h1{
    color:#1094AB; 
    width: 100%;
    text-align: center;
    margin-bottom:1rem ;
}

.main-container .relatorio-container h3{
    color:#1094AB; 
    width: 100%; 
    padding-left:1rem
}

.main-container .relatorios-pendentes,.main-container .historico-relatorios{
    margin: 2rem auto;
    width: 80%;
    border: 1px solid var(--bg);
}

.relatorios-pendentes ul li, .historico-relatorios ul li{
    height: 40px;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.main-container div ul li:hover {
    border-left: 0.5rem solid var(--bg);
    opacity: 0.7;
}

.relatorios-pendentes ul li i, .historico-relatorios ul li i{
    margin-left: 1rem;
    color: var(--bg);
}


.main-container div ul {
    list-style: none;
}


.main-container div ul li p {
    padding: 0.4rem;
    font-weight: 400;
    font-size: 0.9rem;
}

.main-container div ul li+li {
    width: 100%;
    border-top: 1px solid lightgray;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 110vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 2px solid var(--bg);
    border-radius: 10px;
    width: 50%;
}

.modal-content > h1{
    color:var(--bg);
    margin: 0.5rem 0rem;
    text-align: center;
    font-size: 2rem;
}

.modal-ccp{
    margin:2% auto;
}

.modal-form{
    display: flex;
    flex-direction: column;
}

.modal-buttons{
    width: 70%;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    justify-content: space-between;
}

.modal-buttons button{
    width: 48%;
    text-align: center;
    padding: 0.5rem 0.5rem;

}

.comentario-aluno, .comentario-orientador, .comentario-ccp{
    margin-top: 1rem;
    display: flex;
    gap:0.4rem;
}

.comentario-orientador .comentario-container, .comentario-ccp .comentario-container{
    width: 60%;
    max-height: 6rem;
    overflow-y: auto;
}

.comentario-aluno h3, .comentario-orientador h3, .comentario-ccp h3{
    color: var(--bg);
}
.comentario-orientador + .comentario-orientador, .comentario-ccp + .comentario-ccp{
    margin-bottom: 2rem;
}

.close {
    color: var(--bg);
    margin-top: -1rem;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content .file {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--bg);
    border-radius: 0.4rem;
    width: 80%;
    padding: 0.6rem 0.3rem;
    gap: 8px;
    margin: 0.4rem auto;
    cursor: pointer;
}

.file > a {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.modal-content form textarea {
    border: 1px solid var(--bg);
    margin: 1rem 0rem;
    padding: 0.4rem;
    font-size: 1rem;
    border: 1px solid var(--bg);
    resize: none;
}

.modal-content form textarea::selection {
    border: 1px solid var(--bg) !important;
}

.modal-content form label {
    color: var(--bg);
    font-weight: 700;
}

.modal-content form select {
    border: 2px solid var(--bg) !important;
    margin-top: 1rem;
    background: #FFF;
    color: var(--bg);
    font-weight: 500;
    padding: 0.3rem;
}

.relatorio-container{
    display: flex;
    flex-direction: row;
}

.relatorio-container .file-container input[type=file]{
    opacity: 0;
    position: absolute;
    z-index: -1;
}

