<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Resources/css/style.css">
    <title>Cadastro</title>
</head>

<body>
    <main>
        <div class="flex-container">
            <div class="container-bg"><img src="../Resources/images/uspLogo.png" alt="USP"></div>
            <div class="form-container">
                <h1>Cadastrar Orientador</h1>
                <form action="" method="post">
                    <div>
                        <label for="name">Nome de Usuário:</label>
                        <input type="text" name="name" id="">
                    </div>
                    <div>
                        <label for="email">Email Institucional:</label>
                        <input type="email" name="email" id="">
                    </div>
                    <div>
                        <label for="password">Senha:</label>
                        <input type="password" name="password" id="">
                    </div>
                    <div>
                        <label for="cpassword">Confirmar Senha:</label>
                        <input type="password" name="cpassword" id="">
                    </div>
                    <div style="display:flex;flex-direction:row;gap:0.8rem; align-content: center;margin-top:1rem">
                        <label for="CCPconfirm">Faz parte da CCP?</label>
                        <input style="color:#1094AB;" type="checkbox" name="CCPconfirm" id="">
                        <p>Sim</p>
                    </div>
                    <div
                        style="display:flex;flex-direction:row;gap:0.8rem; margin-top:2rem; justify-content:space-between;">
                        <p>Já está cadastrado? <a href="./login.html">Faça login</a></p>
                        <button class="btn btn-bg" type="submit">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>