<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Resources/css/style.css">
    <title>Sistema</title>
</head>

<body>
    <main>
        <div class="flex-container">
            <div class="container-bg"><img src="../Resources/images/uspLogo.png" alt="USP"></div>
            <div class="content-container">
                <img src="../Resources/images/eachLogo.png" alt="EACH USP">
                <h1>Sistema de Avaliação de Desempenho dos Alunos do PPgSI</h1>
                <a href="./cadastro.html"><button class="btn btn-bg">Cadastrar-se</button></a>
                <a href="./login.html"><button class="btn">Fazer Login</button></a>
            </div>
        </div>
        </div>
    </main>
</body>

</html>